# Auto detect text files and normalize line endings to LF
* text=auto

# Source code
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.sql text eol=lf

# Scripts
*.sh eol=lf
mvnw eol=lf

# Binaries
*.jar binary
*.class binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
